<%- include('./partials/head') %>
<link rel="stylesheet" href="stylesheet/contact.css" />
<%- include('./partials/close-head') %>

<body>
  <%- include('./partials/header') %>
  <main>

    <form method="post">
      <input data-aos="fade-left" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="100" type="text" name="name" id="name" aria-label="Nome" disabled value="<%= user.name %>">

      <input data-aos="fade-left" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="350" type="email" name="email" id="email" aria-label="Email" disabled value="<%= user.email %>">

      <input data-aos="fade-left" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="600" type="text" name="subject" id="subject" aria-label="Assunto" placeholder="Assunto" maxlength="32" required>

      <textarea data-aos="fade-left" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="850" name="message" id="message" aria-label="Mensagem" placeholder="Mensagem" required></textarea>

      <button data-aos="fade-up" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="1100" data-aos-anchor-placement="bottom-bottom" type="submit">Enviar</button>
    </form>

  </main>
</body>

</html>

<script src="script/email.js"></script>
<%- include('partials/aos-cdn') %>