<%- include('./partials/head') %>
<link rel="stylesheet" href="stylesheet/contact.css" />
<%- include('./partials/close-head') %>

<body>
  <%- include('./partials/header') %>
  <main>

    <form action="/send">
      <input data-aos="fade-left" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="100" type="text" name="name" id="name" aria-label="Nome" disabled value=<%= user.name %>>

      <input data-aos="fade-left" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="200" type="email" name="email" id="email" aria-label="Email" disabled value=<%= user.email %>>

      <input data-aos="fade-left" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="300" type="text" name="subject" id="subject" aria-label="Assunto" placeholder="Assunto" maxlength="26" required>

      <textarea data-aos="fade-right" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="400" name="message" id="message" aria-label="Mensagem" placeholder="Mensagem" required></textarea>

      <button data-aos="fade-up" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="500" type="submit">Enviar</button>
    </form>

  </main>
</body>

</html>

<%- include('partials/aos-cdn') %>