<%- include('./partials/head') %>
<link rel="stylesheet" href="stylesheet/faqs.css" />
<%- include('./partials/close-head') %>

<body>
  <%- include('./partials/header') %>
  <main>
    <%- include('./partials/faqs-nav') %>
    <section>
      <h1 data-aos="fade-up" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="600">Perguntas frequentes sobre nossos serviços</h1>

      <article data-aos="fade-up" data-aos-easing="linear" data-aos-duaration="3000" data-aos-delay="850" id="faq-links">
      </article>
    </section>

  </main>
</body>

</html>

<script src="script/render-asks.js"></script>
<%- include('partials/aos-cdn') %>