<%- include('./partials/head') %>
<link rel="stylesheet" href="stylesheet/profile.css" />
<%- include('./partials/close-head') %>

<body>
  <%- include('./partials/header') %>
  <main>

    <section>
      <div>
        <img draggable="false" src=<%= user.picture %> alt="Profile Picture">
        <span>
          <h1><%= user.name %></h1>
          <h2><%= user.email %></h2>
        </span>
      </div>
      <a href="/logout">
        Exit
      </a>
    </section>

  </main>
</body>

</html>

<%- include('partials/aos-cdn') %>