<%- include('./partials/head') %>
<link rel="stylesheet" href="stylesheet/services.css" />
<%- include('./partials/close-head') %>

<body>
  <%- include('./partials/header') %>
  <%- include('./partials/services-aside') %>

  <main>
  </main>
</body>

</html>

<%- include('partials/aos-cdn') %>