<%- include('./partials/head') %>
<link rel="stylesheet" href="stylesheet/services.css" />
<%- include('./partials/close-head') %>

<body>
  <%- include('./partials/header') %>
  <%- include('./partials/services-aside') %>

  <main>

    <section class="jao">
      <div>
        <img draggable="false" src="services/jao.jpeg" alt="foto de João Burguês">
        <span>
          <h3>
            Especialista Jurídico
          </h3>
          <p>Lida com questões legislativas jurídicas e regulatórias.</p>
          <a href="">Mais detalhes</a>
        </span>
      </div>
    </section>

    <section class="rub">
      <div>
        <img draggable="false" src="services/rub.jpeg" alt="foto de Rubem Mateus">
        <span>
          <h3>
            Consultor de Negócios
          </h3>
          <p>Fornecer consultoria e assistência direta aos clientes em questões empresariais.</p>
          <a href="">Mais detalhes</a>
        </span>
      </div>
    </section>

    <section class="keven">
      <div>
        <img draggable="false" src="services/kev.jpeg" alt="foto de Keven Souza">
        <span>
          <h3>
            Especialista em TI
          </h3>
          <p>Gerencia a infraestrutura de tecnologia da empresa</p>
          <a href="">Mais detalhes</a>
        </span>
      </div>
    </section>

  </main>
</body>

</html>

<%- include('partials/aos-cdn') %>